a {
	text-decoration: none;
}

/**********************************************
			GENERAL
***********************************************/

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;

}

/**********************************************
			HEADING
***********************************************/
#logo {
	text-align: center;
	margin: 0;
}

/**********************************************
			COLORS
***********************************************/

a {
	color: #fff;
}

/* green header */

header {
	background: #6ab47b;
	border-color: #599a68;
}

h1, h2 {
	color: #fff;
}

/***********************************************
	NAV BACKGROUND MOBILE
***********************************************/

nav {
	background: #599a68;
}

nav a, nav a:visited; {
	color: #fff;
}

/***********************************************
		NAV SELECT COLOR
***********************************************/

nav a.selected, nav a:hover {
	color: #32673f;
}

/***********************************************
		SITE BODY
***********************************************/

body {
	background-color: #fff;
	color: #999;
}